<html lang = "en">
<head>
    <meta charset="UTF-9">
    <meta name="Srikanth" content="width=device-width, initial-scale=5.0">
    <title>Title |</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href ="/"><h1>SRIKANTH</h1></a>
            <p>A MERN stack developer and Tester</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div class="about content">
        <h2>About Us></h2>
        <p>MERN MERN MERN MERN MERN MERN MERN MERN MERN MERN MERN MERN MERN MERN MERN MERN MERN </p>
        <p>STACK STACK STACK STACK STACK STACK STACK STACK STACK STACK STACK STACK STACK STACK STACK</p>
        <p>QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA QA</p>
        <p>@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@</p>
        <p>SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI SRI</p>
    </div>
</body>
</html>
    