<html lang="eng">
<head>
    <meta charset="UTF-9">
    <meta name="Srikanth" content="width=device-width, initial-scale=5.0">
    <title>SRIKANTH | <% title %> </title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href ="/"><h1>SRIKANTH</h1></a>
            <p>A MERN stack developer and Tester</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div class="create-blog content">
        <form>
            <label for="title"> Blog Title:</label>
            <input type="text" id = "title" required>
            <label for= "snippet">Blog Snippet:</label>
            <input type="text" id = "snippet" required>
            <label for="body"> Blog Body:</label>
            <textarea id ="body" required ></textarea>
            <button>submit </button>
        </form>
    </div>
</body>
</html>
    